<%- include('partials/header.ejs') %>

<head>
    <link rel="stylesheet" href="/public/css/homestyle.css">
</head>
<body>
    <h1>ABOUT  DAILY  JOURNALS</h1>
    <p>
        <%= about_starting_content %> 
    </p>
</body>

<%- include('partials/footer.ejs') %> 