<%- include('partials/header.ejs') %> 
<head>
    <link rel="stylesheet" href="/public/css/homestyle.css">
</head>

<body>
    <h1>CONTACT US</h1>
    <p> <%= contact_starting_content  %> </p>
    <h3>Email : dailyjournals@yahoo.mail</h3>
    <h3>Address : 34 Street , Wellington Road , New Delhi</h3>
</body>

<%- include('partials/footer.ejs') %> 