<%- include('partials/header.ejs') %>

<head>
    <link rel="stylesheet" href="/public/css/homestyle.css">
</head>

<body>
    <h1> <%= newpage_title %>  </h1>
    <p> <%= newpage_post %> </p>
</body>

<%- include('partials/footer.ejs') %> 