*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding:20px 0;
    justify-content: center;
    margin-top: 16px;
}